openapi: 3.0.3
info:
   title: Certification PHP - API Tour Operator - William Touboul
   version: 1.0.0
   description: >
      API REST de démo permettant de gérer Clients, Voyages et Avis
      pour le tour-opérateur #1. 
      <br> 
      <br> 
      Documentation interactive via Swagger UI.
      <br>
      <br>
      <a href="https://carltuto.eu/certification/backend/enonce/" target="blank">Enoncé</a>

servers:
   - url: https://williamphp.online/
     description: Local (Apache)

tags:
   - name: Clients
     description: TEST
   - name: Voyages
     description: TEST
   - name: Avis
     description: TEST

paths:
   # =========================================================
   # CLIENTS
   # =========================================================

   /clients:
      get:
         tags: [Clients]
         summary: /readAllClient - Permet l'affichage de tous les clients
         responses:
            "200":
               description: Liste de clients
               content:
                  application/json:
                     schema:
                        type: array
                        items:
                           $ref: "#/components/schemas/Client"
            "404":
               description: "Non trouvée"
            "405":
               description: "Methode non autorisée"

      post:
         tags: [Clients]
         summary: /createClient - Permet l'ajout d'un client a la BDD
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     type: object
                     required: [prenom, nom, email]
                     properties:
                        prenom:
                           type: string
                           example: prenom 3
                        nom:
                           type: string
                           example: nom 3
                        email:
                           type: string
                           example: email3@mail.com
         responses:
            "201":
               description: "Client créé"
            "400":
               description: "Tous les champs sont obligatoires"
            "405":
               description: "Methode non autorisé"

   /clients/{clientID}:
      get:
         tags: [Clients]
         summary: /readClient - Permet l'affichage d'un client selon l'ID fourni
         parameters:
            - in: path
              name: clientID
              required: true
              schema:
                 type: integer
                 minimum: 1
         responses:
            "200":
               description: Client trouvé
               content:
                  application/json:
                     schema:
                        $ref: "#/components/schemas/Client"
            "404":
               description: "Client introuvable"
            "405":
               description: "Methode non autorisée"

      put:
         tags: [Clients]
         summary: /updateClient - Permet la modification d'un client déja enregistré (Comme demandé, ID 1 & 2 non modifiable )
         parameters:
            - in: path
              name: clientID
              required: true
              schema:
                 type: integer
                 minimum: 1
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     type: object
                     properties:
                        prenom:
                           type: string
                           example: prenom modifié
                        nom:
                           type: string
                           example: nom modifié
                        email:
                           type: string
                           example: newemail@mail.com
         responses:
            "200":
               description: Client modifié
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           status:
                              type: string
                              example: UPDATED
            "400":
               description: "Tout les champs sont obligatoires"
            "405":
               description: "Methode non autorisé"

      delete:
         tags: [Clients]
         summary: /deleteClient - Permet la suppression d'un client (Comme demandé, ID 1 & 2 non supprimable )
         parameters:
            - in: path
              name: clientID
              required: true
              schema:
                 type: integer
                 minimum: 1
         responses:
            "200":
               description: "Client supprimé"
            "400":
               description: "Tous les champs sont obligatoires"
            "405":
               description: "Methode non autorisé"

   # =========================================================
   # VOYAGES
   # =========================================================

   /voyages:
      get:
         tags: [Voyages]
         summary: /readAllVoyages - Permet l'affichage de tous les voyages
         responses:
            "200":
               description: Liste de voyages
               content:
                  application/json:
                     schema:
                        type: array
                        items:
                           $ref: "#/components/schemas/Voyage"
            "404":
               description: "Non trouvée"
            "405":
               description: "Methode non autorisée"

      post:
         tags: [Voyages]
         summary: /createVoyage - Permet d'insérer des nouveaux voyages
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     type: object
                     required: [titre, description]
                     properties:
                        titre:
                           type: string
                           example: voyage 3
                        description:
                           type: string
                           example: description du voyage 3
         responses:
            "201":
               description: "Voyage créé"
            "400":
               description: "Tous les champs sont obligatoires"
            "405":
               description: "Méthode non autorisés"

   /voyages/{voyageID}:
      get:
         tags: [Voyages]
         summary: /readVoyage - permet l'affichage d'un seul voyage
         parameters:
            - in: path
              name: voyageID
              required: true
              schema:
                 type: integer
                 minimum: 1
         responses:
            "200":
               description: Voyage trouvé
               content:
                  application/json:
                     schema:
                        $ref: "#/components/schemas/Voyage"
            "404":
               description: "Voyage introuvable"
            "405":
               description: "Méthode non autorrisée"

      put:
         tags: [Voyages]
         summary: PUT - Modifier un voyage (IDs 1 et 2 non modifiables)
         parameters:
            - in: path
              name: voyageID
              required: true
              schema:
                 type: integer
                 minimum: 1
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     type: object
                     properties:
                        titre:
                           type: string
                           example: voyage modifié
                        description:
                           type: string
                           example: description modifiée
         responses:
            "200":
               description: Voyage modifié
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           status:
                              type: string
                              example: UPDATED

      delete:
         tags: [Voyages]
         summary: DELETE - Supprimer un voyage (IDs 1 et 2 non supprimables)
         parameters:
            - in: path
              name: voyageID
              required: true
              schema:
                 type: integer
                 minimum: 1
         responses:
            "200":
               description: Voyage supprimé
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           status:
                              type: string
                              example: DELETED

   # =========================================================
   # AVIS
   # =========================================================

   /avis:
      get:
         tags: [Avis]
         summary: /readAllAvis ou /readAllAvisByVoyage selon si un ID est fourni ou non.
         parameters:
            - in: query
              name: voyageID
              required: false
              schema:
                 type: integer
                 minimum: 1
              description: Si présent, retourne les avis du voyage indiqué
         responses:
            "200":
               description: "Affiche la liste des avis"
            "400":
               description: "Tous les champs sont obligatoires"
            "405":
               description: "Methode non autorisés"

      post:
         tags: [Avis]
         summary: /CreateAvis - Permet de créer un nouvel avis
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     type: object
                     required: [avisContent, voyageID, clientID]
                     properties:
                        avisContent:
                           type: string
                           example: avis 3
                        voyageID:
                           type: integer
                           example: 1
                        clientID:
                           type: integer
                           example: 2
         responses:
            "201":
               description: Avis créé
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           status:
                              type: string
                              example: CREATED
                           avisID:
                              type: integer
                              example: 3
            "400":
               description: "Tous les champs sont obligatoires"
            "405":
               description: "Methode non autorisés"

   /avis/{avisID}:
      put:
         tags: [Avis]
         summary: /updateAvis - Permet la modification d'un avis (Sauf les avis 1 et 2, comme demandé )
         parameters:
            - in: path
              name: avisID
              required: true
              schema:
                 type: integer
                 minimum: 1
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     type: object
                     required: [avisContent, voyageID]
                     properties:
                        avisContent:
                           type: string
                           example: avis modifié
                        voyageID:
                           type: integer
                           example: 1
         responses:
            "200":
               description: Avis modifié
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           status:
                              type: string
                              example: UPDATED
            "400":
               description: "Tous les champs sont obligatoires"
            "405":
               description: "methode non autorisés"

      delete:
         tags: [Avis]
         summary: /deleteAvis - Permet la suppression d'un avis (Sauf les avis 1 et 2)
         parameters:
            - in: path
              name: avisID
              required: true
              schema:
                 type: integer
                 minimum: 1
         responses:
            "200":
               description: Avis supprimé
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           status:
                              type: string
                              example: DELETED
            "400":
               description: "Tous les champs sont obligatoires"
            "405":
               description: "Méthode non autorisés"

components:
   schemas:
      Client:
         type: object
         properties:
            clientID:
               type: integer
               example: 1
            prenom:
               type: string
               example: Prenom du client
            nom:
               type: string
               example: Nom du client
            email:
               type: string
               example: Adresse mail du client

      Voyage:
         type: object
         properties:
            voyageID:
               type: integer
               example: 1
            titre:
               type: string
               example: voyage 1
            description:
               type: string
               example: description du voyage 1

      Avis:
         type: object
         properties:
            avisID:
               type: integer
               example: 1
            avisContent:
               type: string
               example: avis 1
            clientID:
               type: integer
               example: 1
            clientPrenom:
               type: string
               example: prenom 1
            clientNom:
               type: string
               example: nom 1
            clientEmail:
               type: string
               example: email1@mail.com
            voyageID:
               type: integer
               example: 1
            voyageTitre:
               type: string
               example: voyage 1
            voyageDescription:
               type: string
               example: description du voyage 1
            toID:
               type: integer
               example: 1
            toName:
               type: string
               example: tour operator 1
